#about-us{
    .about-us{
        p{
            font-size: 30px;
            text-align: center;
            line-height: 2;
            i{
                color: #008037;
                font-size: 40px;
                margin-top: 42px;
            }
        }
    }
}